.field-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

body {
    background-color: #999999;
}

.field_required {
    color: #dc3545;
}

::-webkit-input-placeholder {
    font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
}